body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 500px;
}

/* .chat-form {
  display: flex;
  justify-content: space-between;
} */

#chat-form {
  display: flex;
  flex-wrap: nowrap;
}

input {
  flex: auto;
  outline: none;
  margin: 4px;
  font-size: 18px;
  padding: 2px 5px;
  /* min-width: 260px; */
}

.play_btn {
  text-transform: uppercase;
  font-size: 26px;
  padding: 5px;
  color: white;
  line-height: 25px;
  /* background-color: #1a991e; */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: #87909ccf 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

.play_btn:hover {
  background-color: #e672cb;
}

.send_btn {
  text-transform: uppercase;
  /* font-size: 14 px; */
  padding: 1px 18px;
  color: white;
  line-height: 25px;
  background-color: #5ec8d0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: #e18ececf 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

.send_btn:hover {
  background-color: #e672cb;
}

.rps-wrapper {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

#events {
  font-size: 18px;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

#events li {
  padding: 5px 10px 5px 10px;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  padding: 10px 50px;
  justify-content: space-evenly;
}
